{% schema %}
{
  "name": "About Hero Section",
  "settings": [
    {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Best experience always wins"
        },
        {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        }
  ],
  

  "presets": [
    {
      "name": "About Hero Section"
    }
  ]
}
{% endschema %}


<section class="w-full h-full mt-8 flex flex-col items-center">
    <div class="banner-img w-[1298px] h-[325px] relative">
        {% if section.settings.image != blank %}
          <img src="{{ section.settings.image | image_url: width: 1600 }}" alt="{{ section.settings.image.alt | escape }}" class="w-full h-full object-cover rounded-[10px]">
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-200 rounded-[10px]' }}
        {% endif %}
        
        <div class="w-[370px] absolute inset-0 flex flex-col items-start justify-center text-left p-6 pl-14">
            <h1 class="font-bold text-[45px] leading-tight">{{ section.settings.title }}</h1>
            <p class="text-[14px] mt-4">{{ section.settings.description }}</p>
        </div>
    </div>

    <div class="flex justify-around items-center w-full h-[220px]  ">
        <h1 class="w-[260px] font-bold text-[18px]">our purpose is to <span class="text-[#1ABA1A]">enrich and enhance lives</span> through technology</h1>
        <div class="containner flex justify-between items-center  w-[600px] h-[100px]">
            <div class="div1 w-[140px]">
                <h1 class="font-bold text-[40px]">$12,5M</h1>
                <p class="text-[12px]">total revenue from 2001 - 2023</p>
            </div>
            <div class="div2 w-[140px]">
                <h1 class="font-bold text-[40px]">12k+</h1>
                <p class="text-[12px]">orders delivered successful on everyday</p>
            </div>
            <div class="div3 w-[140px]">    
                <h1 class="font-bold text-[40px]">725+</h1>
                <p class="text-[12px]">store and office in U.S and worldwide</p>
            </div>
        </div>
    </div>
</section>