<header id="main-header" class="">
  <h2 class="header__title">
    {{ shop.name | link_to: routes.root_url }}
  </h2>

  <div class="header__menu">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  <div class="header__icons">
    {% if shop.customer_accounts_enabled %}
      <shopify-account menu="{{ section.settings.customer_account_menu }}">
        {{ 'icon-account.svg' | inline_asset_content }}
      </shopify-account>
    {% endif %}

    <a href="{{ routes.cart_url }}">
      <sup id="cart-count">
        {{ cart.item_count }}
      </sup>

      {{ 'icon-cart.svg' | inline_asset_content }}

      <span id="cart-total">
        {{ cart.total_price | money }}
      </span>
    </a>
  </div>
</header>

<script>
  document.addEventListener('cart:updated', function (e) {
    const cart = e.detail;

    const header = document.getElementById('main-header');
    if (!header) return;

    const cartCount = header.querySelector('#cart-count');
    const cartTotal = header.querySelector('#cart-total');

    if (cartCount) {
      cartCount.textContent = cart.item_count;
    }

    if (cartTotal) {
      cartTotal.textContent =
        'Tk ' +
        (cart.total_price / 100).toLocaleString(undefined, {
          minimumFractionDigits: 2,
        });
    }
  });
</script>